/* место для вашего кода */

.header {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 97px 0px 96px 50px;
  font-size: 18px;
}

.nav__wrapper {
  margin-right: 34px;
  margin-top: -2px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  font-weight: 300;
  list-style-position: inside;
}

.nav__list__item {
  color: inherit;
}

.nav__list__item:not(:first-child) {
  list-style: circle;
  padding-left: 6px;
  padding-right: 3px;
}
.nav__list__item:first-child {
  list-style: none;
}

.item__link {
  border-bottom: 1px solid black;
  width: fit-content;
}

.header__logo {
  display: flex;
  width: 148px;
}

.header__address {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-style: inherit;
  margin: 0 0 3px 186px;
  line-height: 23px;
  justify-self: end;
}

.cover {
  position: relative;
  display: inline-block;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding: 0 50px;
  z-index: 0;
  overflow: hidden;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  margin: 359px 0 38px 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  width: 1000px;
  height: 385px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title__element {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.element--left {
  margin-top: -2px;
}

.element--middle {
  text-align: center;
  margin-left: 29px;
  margin-top: -23px;
}

.element--right {
  text-align: right;
  margin-top: -23px;
  margin-right: -30px;
}

.description {
  color: white;
  transform: translate(-50%, -50%);
  margin: -100px 0 0 500px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
}

.text__description {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.style_button {
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.lots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lot__item {
  width: 334px;
  min-height: 596px;
  flex-shrink: 0;
  padding: 50px 39px 46px 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__film {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(..//images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.item__book {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(..//images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.item__picture {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(..//images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.title {
  width: 121px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 177px 0px 25px 64px;
}

.lot__list {
  display: flex;
  gap: 25px;
  margin-left: 25px;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  line-height: 120%;
}

.lot__item__title {
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  width: 254px;
  min-height: 82px;
  line-height: 120%;
}

.lot__item__text {
  font-weight: 400;
}

.link__look__more {
  width: 192px;
  margin: 30px 0px 0px 64px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.about {
  display: flex;
  padding-right: 24px;
  margin-top: 2px;
}

.about__wrapper {
  margin: 252px 0px 100px 73px;
  display: inline-flex;
  padding-top: 3px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 100px;
}

.link__style {
  border-bottom: 1px solid black;
}

.logo__white {
  margin: 153px 0px 0px 70px;
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
}

.auction__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.auction__wrapper {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about__wrapper__text {
  /* width: 688px; */
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-size: 18px;
  padding: 0px 50px 90px 50px;
  margin-top: 81px;
}

.footer__bio {
  margin: 0;
  width: 242px;
}

.footer__link-style {
  border-bottom: 1px solid black;
}

.auction__paragraf {
  margin-top: 24px;
}

.nav__list__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 48px;
}
